<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.timetoschool">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
	<application android:allowBackup="true" android:icon="@mipmap/ic_app_logo" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_key" />
		<service android:name="com.companyname.timetoschool.TripTrackingService" android:foregroundServiceType="location" />
		<service android:name="com.companyname.timetoschool.SimulatedTripService" android:foregroundServiceType="dataSync" />
	</application>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>